<div class="stackoverflow-activity-row-event" ng-show="event.timeline_type=='asked'">
    <div class="stackoverflow-activity-row-date">{{event.creation_date | date:'medium'}}</div><br>
    <div class="stackoverflow-activity-row-icon-container">
        <span class="icon-question stackoverflow-activity-row-icon"></span>
    </div>
    <div class="stackoverflow-activity-description-container">
        <span class="stackoverflow-activity-description-label">{{event.timeline_type}} a {{event.post_type}}</span>
        <br>
            
        <a href="{{event.link}}" target="_blank">@{{event.title}}</a>
    </div>
    <div class="stackoverflow-activity-message-container">
        <span class="stackoverflow-activity-message-lquote">&#8220;</span>
        <span class="stackoverflow-activity-message">
            {{event.timeline_type}} a {{event.post_type}} about {{event.title}}
        </span>
        <span class="stackoverflow-activity-message-rquote">&#8221;</span>
    </div>
</div>